<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="jumbotron ">
  <div class="container-index">
    <h1 class="site-title">Vagabond</h1>
    <p class="lead">Share your travels</p>
  </div>
  <br>
  <br>
  <a href="/cities" class="btn btn-success btn-lg welcome-button">Explore Cities</a>
</div>
