<%= form_for [@city, @post] do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_area :content, placeholder: "Content" %>
  </div>
  <%= f.submit "Save Post" %>
<% end %>
