<% @cities.each do |city| %>
  <div class="col-md-3 col-xs-12 thumbnail">
    <%= link_to image_tag(city.city_picture), city_path(city) %>
    <div>
      <strong>
        <%= city.city_name %>
      </strong>
    </div>
  </div>
<% end %>
