
<h1 class="cities-index-header">EXPLORE THESE CITIES</h1>
<div class="container">

  <div class="row inline main">
    <% @cities.each do |city| %>
      <div class="city-index-image col-md-4 col-sm-6 col-xs-12 view view-first">
        <%= link_to image_tag(city.city_picture), city_path(city), class: "img-responsive" %>
        <div class="mask city-index-city-name"><h2><%= city.city_name %></h2></div>
      </div>
    <% end %>
  </div>

</div>
