.jumbotron-index{
  width: auto;
  height: auto;
  text-align: center;
  position:relative;
}

.container-show{
  background-size: contain;
}
.show-picture{
  object-fit: contain;

}

.col-md-6 col-xs-12 thumbnail{
  object-fit: fill;
}
