
/**
USER SHOW PAGE
**/
.container-user-show {
  margin-top: 20px;
}
.user-show-profile-info {
  margin-bottom: 10px;
  text-align: center;
}
.user-show-profile-pic {
  margin-top: 20px;
}
.user-show-user-posts-header {
  text-align: center;
}
.user-show-post-header-row {
  margin-top: 10px;
  height:100%;;
}
.user-show-post-date {
  margin-top: -35px;
  margin-right: 20px;
}
.user-post-container {
  margin-top: 20px;
}
.user-show-post-title {
  margin-top: 0px;
}
.user-show-post-button {
  margin-right: 10px;
}
.pagination {
  width: 100%;
  font-size: 18px;
  text-align: center;
}
