.jumbotron {
  background-image: url(https://goo.gl/pSKssj);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  text-align: right;
  color: white;
  text-shadow: 2px 2px 2px #DF9958;
}
